h4 {
    border-bottom: 3px groove black;
}

#DenzelBorder {
    border-bottom: 3px groove black;
    border-top: 3px groove black;
}
#card1{
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px #b1b1b1;
  margin-top: 30px;
}
.blogtext {
  margin: 30px;
  color: black;
}
#text-blog {
  border-bottom: 3px solid black;
}

.square {
  width: 238px;
  height: 238px;
  overflow: hidden;
}
#text2 {
  margin: 50px 0;
  font-size: 17px;
  color: black;
  line-height: 1.5em;
}
.rowe-text {
  text-indent: 50px;
}
.ROWE {
  font-size: 25px;
  color: green;
}
.MCHI {
  font-size: 25px;
  color: purple;
}
#bears, #raiders, #southwest, #alamo {
  margin-top: 85px;
  margin-left: 40px;
  width: 15px;
}
.nav-item:hover {
  border-bottom: 4px solid blue;
  color: white;
}
#bears2 {
  height: 150px;
  display: block;
}
.card-img-top1 {
  height: 300px;
  margin-left: 30px;
  margin-right: 30px;
}
.container-fluid {
		box-sizing: border-box;
	}

.container-fluid {
	background: #6b6b6b;
    height: 400px;
}

.container-fluid > ul {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -130px;
}

.movingImage {
	width: 25%;
	list-style-type: none;
	position: absolute;
	top: 0;
	padding: 20px;
	height: 200px;
	opacity: 0;
	padding-top: 40px;
	text-align: center;
	transition: 1s opacity;
    margin-top: 200px;
}
.movingImage:hover {
    border: 1px dashed #6b6b6b;
}

.active {
	opacity: 1;
}

.boxtext {
	font-family: sans-serif;
	font-size: 13px;
    color: #646566;
	line-height: 1.5em;
}

strong {
    color: #fff;
    font-weight: 700;
	font-size: 60px;
    line-height: 100px;

#DenzelPic {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#KevinPic {
    height: auto;
    padding-top: 15px;
}

#football1 {
    color: brown;
}

#Twitter {
    color: aqua;
}

#Instagram {
    color: black;
}

#Facebook {
    color: Navy;
}

#Reddit {
    color: red;
}

#football2 {
    color: brown;
}

#pic {
    padding-left: 110px;
}

#Paragraph1 {
    font-family: 'Permanent Marker', cursive;
}

#Paragraph2 {
    font-family: 'Permanent Marker', cursive;
}

#heading {
    font-family: 'Shrikhand', cursive;
}

#ThankYou {
    padding-left: 10px;
}

#hname {
    width: 100%;
    padding-left: 5px;
}

.jumbotron {
    background: #6b6b6b;
    height: 500px;
    position: relative;
}

#bears:hover, #raiders:hover, #southwest:hover, #alamo:hover {
    border: 1px solid #6b6b6b;
}

#bears, #raiders, #southwest, #alamo {
    margin-top: 85px;
    margin-left: 40px;
}

 .btn-primary {
   background-color: #243477;
 }

.icons p{
  margin-bottom: 0rem;
}
